



* {
  box-sizing: border-box;
}

body {

  margin: 0;

}

 

.Header{

  background-color: #6b6c6e;

  text-align: center;

  text-decoration: underline;

  padding: 20px;

}

 

.Box {

  background-color: #6b6c6e;

  color:white;

  padding: 5px;

  text-align: center;

}

 

.Navbar {

  

    border-style: rgb(59, 252, 0);

    overflow: hidden;

    background-color: #0b54e6;

    text-align: center;

    height: 50px;

    

}

 

.Navbar a{

    float: left;

    display: block;

    color: #f2f2f2;

    text-align: center;

    padding: 14px 16px;

    text-decoration: none;

}

 

.Navbar a:hover {

    background-color: rgb(241, 16, 16);

    color:black;

    height: 50px;

}

 

.Column {

  float: left;

  width: 33%;

  padding: 15px;

  height: 420px;

  border: 10px;

  border-style: groove;

  background-color: lightslategrey;

}

 

@media screen and (max-width: 600px) {

  .Column {

    width: 100%;

  }

}